<form id="tinymce_file_uploader" action="{{ path('gwinn_tinymce_fastload_uploader') }}" method="post" enctype="multipart/form-data">
  <input type="file" id="tiny_inner_image" name="tiny_inner_image" accept="image/*">
</form>

{% javascripts output='js/compiled/tinymce-image-upload-callback.js' '@GwinnTinymceFastloadBundle/Resources/public/js/tinymce-fastload.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

